.dollar{
    font-weight: 600;
    font-size: 16px;
    color: #111827;
}
.ant-list{
    .ant-list-items{
        .avatar-part{
            .ant-list-item-meta{
            align-items: center;
            }
        }
    }
}
