.notification{
  margin-left: 20px;
}
.logo{
  @media(max-width:767px) {
    display: none;
  }
}
.input{
  @media(max-width:767px){
      display: none;
 
  }
    width: 100%;
    height: 45px;
    border-radius: 16px;
    background-color: #E5E7EB;
    input{
      background-color: #E5E7EB;
  }
  }
.bar{
  background-color: transparent;
  color: red;
}
.ant-layout{
.sidr{
  @media(max-width:767px) {
    position: absolute;
  z-index: 2;
  }
  .ant-layout-sider-zero-width-trigger{
      background-color: transparent;
      top: -51px;
      left: 10px;
    }
}
}